* {
    background-color: ghostwhite;
}

#container {
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.small-square {
    background-color: lightgrey; 
}

/* .small-square:hover {
    background-color: lime;
} */